*.pyc
*.sqlite3
*.orig
*.DS_Store
*.db
*.log
*.mo
*.js.map
/media/
CACHE
/.idea
/.settings/
/build/
.pydevproject
/local_settings.py
/atlassian-ide-plugin.xml
/.project
htmlcov/
.coverage
bower_components
.sass-cache
/static/
/node_modules/