{% extends 'frontend/base.html' %}
{% load i18n %}
{% load pipeline %}

{% block content %}
    {% csrf_token %}

    <script language="vuejs/tmplang" id="social_network_icon_template">
        <li>
            <span aria-hidden="true" :class="icon"></span>
        </li>


    </script>

    <script language="vuejs/tmlpang" id="insurance_template">
        <div class="col-md-8 insurance-border">
            <div class="row">
                <div class="col-md-4">
                    <b>{% trans 'Name' %}: </b><span>[[ name ]]</span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <b>{% trans 'Status' %}:</b>
                    <span v-if="enabled">
                        <a href="#" @click.prevent="toggleStatus">{% trans 'Disable' %}</a>
                    </span>
                    <span v-else>
                        <a href="#" @click.prevent="toggleStatus">{% trans 'Enable' %}</a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="gray_date">
                        [[ created_humanized ]]
                    </p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="#">
                        {% trans 'View live proofs' %}
                    </a>
                </div>
            </div>
        </div>


    </script>

    <script id="insurance_modal_template" language="vuejs/tmplang">
        <div class="modal fade" tabindex="-1" role="dialog" id="insurance_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans 'Add insurance' %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="align-right fa fw fa-plus-circle add_destination"
                                      @click="addDestination"
                                ></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="{% trans 'Insurance name' %}" v-model="name">
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <ul v-for="destination in destinations">
                            <destination
                                :channel=destination.channel
                                :name=destination.name
                            ></destination>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>

    <script language="vuejs/tmpl" id="destination_template">
        <div class="row">
            <div class="col-md-5">
                <input v-model="name" class="form-control" placeholder="{% trans 'Destination' %}">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <select v-model="channel" class="form-control"></select>
            </div>
        </div>
    </script>

    <div class="container">
        <div class="row profile_controller">
            <insurance_modal></insurance_modal>
            <div class="col-md-4 profile">
                <div class="row">
                    <div class="col-md-6">
                        <img :src="picture" alt="">
                    </div>
                    <div class="col-md-6">
                        <ul v-for="social_network in social_networks"
                            class="list-unstyled">
                            <social_network_icon
                                    :social_network="social_network.name"></social_network_icon>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'socialaccount_connections' %}">
                                    <span class="fa fa-plus fa-fw"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row names">
                    <div class="col-md-6">
                        <p class="align-right">
                            <b>{% trans 'First name: ' %}</b>
                            [[ first_name ]]
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <b>{% trans 'Last name: ' %}</b>
                            [[ last_name ]]
                        </p>
                    </div>
                </div>

                <div class="row names">
                    <div class="col-md-6">
                        <a href="#"
                           class="align-right">{% trans 'Reset password' %}</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">{% trans 'Cancel account' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 insurances">
                <div class="row">
                    <div class="col-md-8">
                        <button
                                class="btn btn-success align-right"
                                @click="showAddInsuranceModal"
                        >
                            {% trans 'Add' %}
                        </button>
                    </div>
                </div>
                <ul v-for="insurance in insurances">
                    <insurance :created_humanized="insurance.created_humanized"
                               :name="insurance.name"
                               :id="insurance.id"
                               :enabled="insurance.enabled"
                               @reload="load"
                    >
                    </insurance>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% javascript 'profile' %}
{% endblock %}

{% block title %}
    {% trans 'Profile' %}
{% endblock %}

{% block body_class %} skin-blue layout-top-nav {% endblock %}