{% extends 'frontend/base.html' %}
{% load i18n %}
{% load pipeline %}

{% block content %}
    {% csrf_token %}

    <script language="vuejs/tmplang" id="social_network_icon_template">
        <li>
            <span aria-hidden="true" :class="icon"></span>
        </li>
    </script>

    <script language="vuejs/tmlpang" id="insurance_template">
        <div class="col-md-8 insurance-border">
            <div class="row">
                <div class="col-md-4">
                    <b>{% trans 'Name' %}: </b><span>[[ name ]]</span>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <b>{% trans 'Status' %}:</b>
                    <span v-if="enabled">
                        <a href="#" @click.prevent="toggleStatus">{% trans 'Disable' %}</a>
                    </span>
                    <span v-else>
                        <a href="#" @click.prevent="toggleStatus">{% trans 'Enable' %}</a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="gray_date">
                        [[ created_humanized ]]
                    </p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="#">
                        {% trans 'View live proofs' %}
                    </a>
                </div>
            </div>
        </div>
    </script>

    <div class="container">
        <div class="row profile_controller">
            <div class="col-md-4 profile">
                <div class="row">
                    <div class="col-md-6">
                        <img :src="picture" alt="">
                    </div>
                    <div class="col-md-6">
                        <ul v-for="social_network in social_networks"
                            class="list-unstyled">
                            <social_network_icon
                                    :social_network="social_network.name"></social_network_icon>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'socialaccount_connections' %}">
                                    <span class="fa fa-plus fa-fw"
                                          aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row names">
                    <div class="col-md-6">
                        <p class="align-right">
                            <b>{% trans 'First name: ' %}</b>
                            [[ first_name ]]
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <b>{% trans 'Last name: ' %}</b>
                            [[ last_name ]]
                        </p>
                    </div>
                </div>

                <div class="row names">
                    <div class="col-md-6">
                        <a href="#"
                           class="align-right">{% trans 'Reset password' %}</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">{% trans 'Cancel account' %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 insurances">
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-success align-right">{% trans 'Add' %}</button>
                    </div>
                </div>
                <ul v-for="insurance in insurances">
                    <insurance :created_humanized="insurance.created_humanized"
                               :name="insurance.name"
                               :id="insurance.id"
                               :enabled="insurance.enabled"
                               @reload="load"
                    >
                    </insurance>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% javascript 'profile' %}
{% endblock %}

{% block title %}
    {% trans 'Profile' %}
{% endblock %}

{% block body_class %} skin-blue layout-top-nav {% endblock %}